<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    <main>
        <div class="contenedorTurnosPaciente">
            <h2>Turnos del paciente</h2>
            <div class="subcontenedorTurnosPaciente">
                <% encontrados.forEach(function(e) { %>
                    <div>
                        <span>ID del turno: <%=e.id_turno%>,</span>
                        <span>Estado: <%=e.estado%></span>
                        <span>Fecha: <%=e.fecha%></span>
                        <span>Hora: <%=e.hora%></span>
                        <button class="btnEliminarTurno" data-idturno="<%= e.id_turno%>">Eliminar turno</button>
                    </div>
                <% }); %>
            </div>
            <button class="btnHome" onclick="window.location.href='/'">Volver al Home</button>
        </div>
    </main>

    <%- include('partials/footer')%>
    <script>
        const botonesEliminar = document.querySelectorAll('.btnEliminarTurno');
        botonesEliminar.forEach(boton => {
            boton.onclick = async () => {
                const idTurno = boton.dataset.idturno;
                const respuesta = await fetch(`/api/v1/turnos/${idTurno}`, {
                    method: 'DELETE',
                });
                if (respuesta.ok) {
                    alert("Turno eliminado correctamente");
                    boton.parentElement.remove();
                } else {
                    alert("Error al eliminar el turno");
                }
            };
        });
    </script>
</body>

</html>